.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* invoice Page Details */

.background{
  background-image:linear-gradient(to right, #1F7B6C,#228D7B);
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:5%;
  padding-bottom:5%;
}

.form{
  background-color:#DBD9DC;
  width:60%;
  min-height:80%;
  margin:auto;
  padding-left:3%;


}
.inputDesign{
  
  max-width:300px;
  display:flex;
  justify-content: space-between;
  
  
}

.invoices{
margin-right:5px;
  
}

.showInvoiceDetails{
  margin-bottom:10px;
  
  
}
.headings{
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-style:roboto;
  font-weight:bold;
  margin-bottom:0px;
  background-color: gray;
  height:40px;

  
}
.unList{
  padding-left:0px;
  margin-top:0px;

}
.listItem{
  display:flex;
  justify-content: space-around;
  align-items:center;
  padding-left:3%;
  padding-right:3%;
  margin-bottom:0px;
  margin-top:0px;
}

.editButton{
  height:20px;
  margin-right:5px;
  background-color:#50C878;
  border-style:none;
  border-radius:5px;
  color:#ffffff;
  
}
.deleteButton{
  height:20px;
  background-color:#EA3C53;
  border-style:none;
  border-radius:5px;
  color:#ffffff;
  
}
.eachItem{
  width:25%;
 

}
.findButton{
  margin-left:5px;
  
}
.noDetailsBackground{
  text-align:center;
  
}
.noDetailsHeading{
  font-family:roboto;
  opacity:80%;

  
}
.popupContainer{
  background-color:#ffffff;
  border-radius:5px;
  height:300px;
  width:600px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.rangePicker{
  border-style:solid;
  border-color:black;

}